@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sevillana&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(
    39deg,
    rgba(92, 118, 156, 1) 8%,
    rgba(125, 210, 55, 1) 17%,
    rgba(135, 171, 176, 1) 33%,
    rgba(156, 185, 220, 1) 42%,
    rgba(119, 222, 178, 1) 67%,
    rgba(107, 161, 92, 1) 83%,
    rgba(75, 85, 87, 1) 97%
  );
}

img {
  width: 100%;
  max-width: 500px;
  border-radius: 50px;
}

#nav_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    39deg,
    rgba(92, 118, 156, 1) 8%,
    rgba(125, 210, 55, 1) 17%,
    rgba(135, 171, 176, 1) 33%,
    rgba(156, 185, 220, 1) 42%,
    rgba(119, 222, 178, 1) 67%,
    rgba(107, 161, 92, 1) 83%,
    rgba(75, 85, 87, 1) 97%
  );
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}

#ul_ {
  display: none;
  list-style: none;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 600px) {
  #ul_ {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
  }
}

#ul_ a {
  color: white;
  text-transform: uppercase;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

#ul_ a:hover {
  border: 1px outset rgba(187, 255, 0, 0.705);
  padding: 8px;
  border-radius: 10px;
}

.logotext_ {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
  margin-right: 2rem;
}

#nav_ img {
  max-width: 40px;
  border-radius: 10px;
  margin: 0.3rem;
}

#about {
  margin: auto;
  padding-top: 69px;
}

.about_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  color: white;
}

.about_container h3 {
  text-align: center;
  font-family: "Sevillana", cursive;
  font-weight: 700;
  font-size: 3rem;
  text-decoration: underline;
}

.figure_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 600px) {
  .figure_container {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    align-items: center;
    gap: 2rem;
  }
}

figcaption p {
  max-width: 470px;
  line-height: 20px;
  letter-spacing: 2px;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  margin: 0.5rem;
}

figcaption strong {
  text-transform: uppercase;
}

#work_ h3 {
  text-align: center;
  margin: 2rem;
  padding-top: 1rem;
  color: white;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: underline;
}

#work_ table {
  border: 2px solid rgba(221, 219, 100, 0.473);
  border-radius: 10px;
  width: 100%;
  max-width: 700px;
  font-family: "Poppins", system-ui;
  margin: auto;
  color: white;
}

#table_ th {
  padding: 1rem;
  border: transparent;
  letter-spacing: 0.2rem;
}

#table_ td {
  padding: 0.3rem;
  text-align: center;
  border: 0.5px solid rgba(221, 219, 100, 0.473);
  border-bottom: transparent;
  border-left: transparent;
}

#resume_ h3 {
  text-align: center;
  margin: 2rem;
  padding-top: 1rem;
  color: white;
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: underline;
}

